<mat-accordion>
  <!-- Use ng-container to add logic to an HTML element that will not end in the final DOM of the app -->
  <!-- Use *ngFor to iterate over an array of items -->
  <!-- Use async pipe to get the value inside an observable (here, an array of recipes) -->
  <ng-container *ngFor="let recipe of recipes$ | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ recipe.title | titlecase }}</mat-panel-title>
        <mat-panel-description *ngIf="recipe.time">
          Time required : {{ recipe.time | time }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list *ngIf="recipe.ingredients as list">
        <mat-list-item *ngFor="let item of list">
          <b>{{ item.name }} :</b><em>{{ item.qty }}{{ item.unit }}</em>
        </mat-list-item>
      </mat-list>

      <mat-action-row>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/', 'edit', recipe.id]"
        >
          Edit recipe
        </button>
        <span class="flexer"></span>
        <button mat-button color="warn" (click)="deleteRecipe(recipe)">
          Delete recipe
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
