<!-- Use ng-container to add logic to an HTML element that will not end in the final DOM of the app -->
<!-- Use *ngFor to iterate over an array of items -->
<!-- Use async pipe to get the value inside an observable (here, an array of recipes) -->
<ng-container *ngFor="let recipe of recipes$ | async">
  <mat-card [routerLink]="['/', 'edit', recipe.id]" appListItem>
    <mat-card-header>
      <!-- Use {{ var }} syntax to display variable contents -->
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="recipe.time">
        Time required : {{ recipe.time | time }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-container>
