// ALWAYS Add the :host selector and display block to any angular component
:host {
  display: block;
  height: 100%;
}

mat-toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}